/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 70%;
    margin: 0 auto;
}

.logo{
    text-align: center;
    padding: 2rem 0;
}

.tasks-container{
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 20px;
}

.new-task{
    text-align: center;
}

.new-task label{
    display: none;
}

.new-task button, input{
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.tasks-container ul{
    list-style: none;
    width: 100%;
}

.tasks-container li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: gray;
}

.task-delete{
    color: red;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.task-done{
    color: rgb(46, 83, 25);
    font-size: 1.5rem;
    font-weight: 600;
}

.error{
    color: red;
    text-align: center;
}

.bg_green_btn{
    background-color: rgb(57, 109, 57);
    color: white;
}

.done{
    text-decoration: line-through;
}